.header {
  background-color: $ember-orange;
  color: $white;
  padding: 1em 0;
  font-family: $base-font-family;
  width: 100%;
  display: block;

  .header-nav {
    padding: 0 1em;
    @include media($large-screen) {
      align-items: center;
      display: flex;
      height: 2.8em;

    }
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.header-nav {
  li {
    @include margin(10px null);
    text-align: center;

    @include media($large-screen) {
      @include flex(1 0 0);
      display: inline-block;
    }
  }

  li:not(.header-logo):not(.header-search) {
    width: 32%;
    display: inline-block;
    @include media($large-screen) {
      width: auto;
    }
  }

  .header-logo {
    @include media($large-screen) {
      @include flex(1.5 0 0);
    }
  }
}

.header-logo {
  a {
    @include size(100px 40px);
    background: image-url("ember-logo.svg") no-repeat;
    display: block;
    margin: -15px auto 0 auto;
    @include media($large-screen) {
      margin-left: 0;
    }
  }
}
