<div class="footer">
    <div class="container">

      <div class="footer-statement">
        <a href="https://ember-community-slackin.herokuapp.com/">Comunidade no Slack</a> &bull;
        <a href="https://github.com/emberjs/ember.js">Github</a> &bull;
        <a href="https://t.me/EmberBR">Telegram (Ember-BR)</a>
      </div>

      <div class="footer-statement footer-social">
        <a href="http://twitter.com/emberjs"
          title="Twitter">
          <i class="icon-twitter"></i>
        </a>
        <a href="https://github.com/emberjs/ember.js"
          title="GitHub">
          <i class="icon-github"></i>
        </a>
        <a href="https://plus.google.com/communities/106387049790387471205"
          title="Google+">
          <i class="icon-gplus"></i>
        </a>
      </div>
      <hr />
      <div class="info">
        <p>
          Este site é parte de uma iniciativa da <b>Comunidade Brasileira Ember</b> e não tem nenhuma ligação direta com o projeto oficial. <br />
          Ember é uma marca registrada da <a href="http://tilde.io">Tilde Inc.</a>.<br />
          Para obter mais informações sobre licença de uso acesse <a href="http://emberjs.com/legal">Legal</a>.
        </p>
      </div>

  </div>
</div>
