<div class="footer">
  <div class="container">
    <div class="footer-info">
      Links úteis<br />
      <a href="https://ember-community-slackin.herokuapp.com/">Comunidade no Slack</a><br />
      <a href="https://github.com/emberjs/ember.js">Github</a><br />
      <a href="https://t.me/EmberBR">Telegram (Ember-BR)</a>
    </div>

    <div class="footer-statement">
      Ember.js é framework para criar aplicações web ambiciosas.
    </div>

    <div class="footer-social">
      <a href="http://twitter.com/emberjs"
        title="Twitter">
        <i class="icon-twitter"></i>
      </a>
      <a href="https://github.com/emberjs/ember.js"
        title="GitHub">
        <i class="icon-github"></i>
      </a>
      <a href="https://plus.google.com/communities/106387049790387471205"
        title="Google+">
        <i class="icon-gplus"></i>
      </a>
    </div>
  </div>
  <div class="info">
    <p>
      Este site é parte de uma iniciativa da comunidade Brasileira Ember e não tem nenhuma ligação direta com o projeto oficial. <br />
      Ember é uma marca registrada da <a href="http://tilde.io">Tilde Inc.</a>.<br />
      Para obter mais informações sobre licença de uso acesse <a href="http://emberjs.com/legal">Legal</a>.
    </p>
  </div>
</div>
