<header class="header">
  <nav role="navigation" aria-label="main">
    <ul class="header-nav container">
      <li class="header-logo">
        <a href="/"><span class="visually-hidden">Ember homepage</span></a>
      </li>
      <li class="active" aria-label="You are here">
        <a href="/">Home</a>
      </li>
      <li class="active" aria-label="You are here">
        <a href="/guides/">Documentação</a>
      </li>
      <li>
        <a href="/quem-usa-ember">Quem usa Ember?</a>
      </li>
      <li>
        <a href="http://emberjs.com/api">Ember API</a>
      </li>
    </ul>
  </nav>
</header>
