---
title: Página inicial
---

<div class="about-page--header">
  Um framework para criar<br />aplicações <b>ambiciosas</b>.
</div>

<h2>Site atualmente em construção</h2>
<p>Acesse https://github.com/ember-brasil/website para obter mais informações.</p>
