---
title: Index
---

<article class="fluid">
  <h1>Comunidade Brasileira Ember</h1>

  <p>Site em contrução durante o processo de tradução.</p>
  <p>Se você gostaria de ajudar na construção do site, tradução da documentação ou menos somente revisar algo.</p>
  <p>Saiba como contribuir: <a href="https://github.com/ember-brasil/website/blob/master/CONTRIBUTING.md">CONTRIBUTING</a></p>
</article>
